<body>
    <header>
        <a href="/" class="logo">
            <img src="https://d3ot0t2g92r1ra.cloudfront.net/img/logo@3x_optimized.svg" alt="Logo">
        </a>
        <div class="right-section">
            <div class="notification-wrapper">
                <span class="material-icons">notifications</span>
            </div>
  
            <div class="avatar">
                <input type="checkbox"/>
                <span>Ostap Kernytskyi</span>
                <ul class="dropdown-menu">
                    <span>Ostap Kernytskyi</span>
                    <hr>
                    <a href="#">Profile</a>
                    <a href="#">Log Out</a>
                </ul>
            </div>      
        </div>
    </header>
  
    <main>
        <div class="container">
            <div class="item-logo">
                <div class="item-inner">
                    <div class="item-front">
                        <svg width="150" height="150" viewBox="0 0 105 99"><g fill="none" fill-rule="evenodd"><path d="M59.927 76.881c.267.616-.427 1.205-.99.838L29.31 58.376c-2.259-1.299-1.743-3.772 0-4.526l16.585-6.125c.65-.24 1.37.07 1.647.703l12.386 28.453z" fill="#FFC712"></path><path d="M87.193 73.214L68.999 81.09c-1.16.503-2.546-.125-3.1-1.402L42.465 25.565c-.555-1.28-.061-2.726 1.101-3.23l18.193-7.876c1.16-.502 2.548.125 3.101 1.402l23.436 54.124c.554 1.28.06 2.726-1.102 3.23" fill="#00ADEE"></path><path d="M39.682 30.034c1.279 2.9 4.213 9.704 5.36 12.368a1.137 1.137 0 01-.646 1.516l-12.679 4.757a.678.678 0 01-.859-.904l7.633-17.73a.65.65 0 011.191-.007M40.351 70.35l-13.924-9.294a1.066 1.066 0 00-1.567.46l-7.976 18.206c-.404.924.53 1.864 1.455 1.465l21.889-9.473a.78.78 0 00.123-1.363" fill="#EC1848"></path><path d="M40.351 70.35l-13.924-9.294a1.066 1.066 0 00-1.567.46l9.402 12.78 5.966-2.582a.78.78 0 00.123-1.363" fill="#C22035"></path></g></svg>
                    </div>
                    <div class="item-back">
                        <a target="_blank" href="https://academy.binary-studio.com" class="button">Join</a>
                    </div>
                </div>
            </div>
            <div class="item-js">
                <div class="item-inner">
                    <div class="item-front">JS</div>
                    <p class="item-back">An online intensive course on building web applications with JavaScript</p>
                </div>
            </div>
            <div class="item-php">
                <div class="item-inner">
                    <div class="item-front">php</div>
                    <p class="item-back">An online intensive course on building web applications with PHP</p>
                </div>
            </div>
            <div class="item-qa">
                <div class="item-inner">
                    <div class="item-front">QA</div>
                    <p class="item-back">Advanced online course focusing on the finer points of QA</p>
                </div>
            </div>
            <div class="item-java">
                <div class="item-inner">
                    <div class="item-front">Java</div>
                    <p class="item-back">Advanced online course on building web applications with Java</p>
                </div>
            </div>
            <div class="item-dotnet">
                <div class="item-inner">
                    <div class="item-front">.NET</div>
                    <p class="item-back">An online intensive course on building web applications with .NET</p>
                </div>
            </div>
            <div class="item-events">
                <div class="item-inner">
                    <div class="item-front">Events</div>
                    <p class="item-back">
                        У березні-квітні відбулася серія наших онлайн трансляцій 
                        час залишимо посилання на запис трансляцій нижче. Дивись, шарь з друзями, 
                        а щоб не пропустити майбутні події - підписуйся на 
                        <a target="_blank" href="https://t.me/bsacademy">телеграм Binary Studio Academy</a>.
                    </p>
                </div>
            </div>
            <div class="item-blog">
                <div class="item-inner">
                    <div class="item-front">Blog</div>
                    <p class="item-back">
                        Ділимося інсайтами Академії, досвідом створення world-class проектів та 
                        роздумами про життя, код роботу
                    </p>
                </div>
            </div>
            <div class="item-contacts">
                <div class="item-inner">
                    <div class="item-front">Contacts</div>
                    <div class="item-back">
                            <a target="_blank" href="https://www.facebook.com/Binary.Studio.Company">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="30px" height="30px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M32 16c0-8.839-7.167-16-16-16C7.161 0 0 7.161 0 16c0 7.984 5.849 14.604 13.5 15.803V20.626H9.437v-4.625H13.5v-3.527c0-4.009 2.385-6.223 6.041-6.223c1.751 0 3.584.312 3.584.312V10.5h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-.713 4.625H18.5v11.177C26.145 30.603 32 23.983 32 15.999z" fill="#000"/></svg></a>
                            <a target="_blank" href="https://t.me/bsacademy">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="30px" height="30px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M16 .5C7.437.5.5 7.438.5 16S7.438 31.5 16 31.5c8.563 0 15.5-6.938 15.5-15.5S24.562.5 16 .5zm7.613 10.619l-2.544 11.988c-.188.85-.694 1.056-1.4.656l-3.875-2.856l-1.869 1.8c-.206.206-.381.381-.781.381l.275-3.944l7.181-6.488c.313-.275-.069-.431-.482-.156l-8.875 5.587l-3.825-1.194c-.831-.262-.85-.831.175-1.231l14.944-5.763c.694-.25 1.3.169 1.075 1.219z" fill="#000"/></svg></a>
                            <a target="_blank" href="https://www.instagram.com/binary_studio/">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="30px" height="30px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="22.406" cy="9.594" r="1.44" fill="#000"/><path d="M16 9.838A6.162 6.162 0 1 0 22.162 16A6.162 6.162 0 0 0 16 9.838zM16 20a4 4 0 1 1 4-4a4 4 0 0 1-4 4z" fill="#000"/><path d="M16 6.162c3.204 0 3.584.012 4.849.07a6.642 6.642 0 0 1 2.228.413a3.975 3.975 0 0 1 2.278 2.278a6.642 6.642 0 0 1 .413 2.228c.058 1.265.07 1.645.07 4.85s-.012 3.583-.07 4.848a6.642 6.642 0 0 1-.413 2.228a3.975 3.975 0 0 1-2.278 2.278a6.642 6.642 0 0 1-2.228.413c-1.265.058-1.645.07-4.849.07s-3.584-.012-4.849-.07a6.642 6.642 0 0 1-2.228-.413a3.975 3.975 0 0 1-2.278-2.278a6.642 6.642 0 0 1-.413-2.228c-.058-1.265-.07-1.645-.07-4.849s.012-3.584.07-4.849a6.642 6.642 0 0 1 .413-2.228a3.975 3.975 0 0 1 2.278-2.278a6.642 6.642 0 0 1 2.228-.413c1.265-.058 1.645-.07 4.849-.07M16 4c-3.259 0-3.668.014-4.948.072a8.807 8.807 0 0 0-2.912.558a6.136 6.136 0 0 0-3.51 3.51a8.807 8.807 0 0 0-.558 2.913C4.014 12.333 4 12.74 4 16s.014 3.668.072 4.948a8.807 8.807 0 0 0 .558 2.912a6.136 6.136 0 0 0 3.51 3.51a8.807 8.807 0 0 0 2.913.558c1.28.058 1.688.072 4.947.072s3.668-.014 4.948-.072a8.807 8.807 0 0 0 2.913-.558a6.136 6.136 0 0 0 3.51-3.51a8.807 8.807 0 0 0 .557-2.913C27.986 19.667 28 19.26 28 16s-.014-3.668-.072-4.948a8.807 8.807 0 0 0-.558-2.912a6.136 6.136 0 0 0-3.51-3.51a8.807 8.807 0 0 0-2.913-.557C19.667 4.013 19.26 4 16 4z" fill="#000"/></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </main> 
    <footer>
        <span>© Powered by Binary Studio Team</span>
    </footer>
    <aside>
        <div class="messages">
            <div class="error">
                <span class="material-icons">error</span>
                <div>
                    <span class="bold">Error</span>
                    <p>
                        Something went wrong.
                        Please try again later.
                    </p>
                </div>
            </div>
            <div class="success">
                <span class="material-icons">check_circle</span>
                <div>
                    <span class="bold">Success</span>
                    <p>
                        Profile was updated.
                    </p>
                </div>
            </div>
            <div class="warning">
                <span class="material-icons">warning</span>
                <div>
                    <span class="bold">Warning</span>
                    <p>
                        Deadline is coming.
                    </p>
                </div>
            </div>
        </div>
    </aside>
  </body>